@font-face {
    font-family: "sfOldRepublic";
    src: url("../fonts/SFOldRepublic.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: "DayDreamer";
    src: url("../fonts/Daydreamer.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: "TravelingTypewriter";
    src: url("../fonts/TravelingTypewriter.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}
