html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(229, 234, 237);
	overflow: auto;
}
footer {
	bottom: 0;
	position:fixed;
	text-align: right;
	width: 100%;
}
* {
    padding: 0;
    margin: 0;
}
ul {
    list-style-type: none;
}

@import '_colors';
@import 'home';
@import 'typedjs';
