html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
	overflow: hidden;
}
header {
	height: 3em;
    line-height: 4em;
    top: 0;
    position: fixed;
    width: 100%;
    background: rgba(247, 247, 247, 1);
	border-bottom: 1px solid rgba(184, 184, 184, 0.5);
	h1 {
		text-align: center;
		// font-family: "sfOldRepublic", sans-serif;
		font-family: "TravelingTypewriter", sans-serif;
		margin: 0;
	}
}
footer {
	bottom: 0;
	position:fixed;
	text-align: right;
	width: 100%;
}
* {
    padding: 0;
    margin: 0;
}
ul {
    list-style-type: none;
}

@import '_colors';
@import '_fonts';
@import 'home';
@import 'typedjs';
