#home {
	margin-top: 100px;

	.book-container {
		width: 33%;
	    margin: 0 auto;
	    height: 500px;
	    border: solid 1px $gray-light;
		border-radius: 5px;
		-webkit-box-shadow: inset -1px -1px 0px 0px rgba(0,0,0,0.5);
		-moz-box-shadow: inset -1px -1px 0px 0px rgba(0,0,0,0.5);
		box-shadow: inset -1px -1px 0px 0px rgba(0,0,0,0.5);
		overflow: auto;

		.book-content {
			text-align: justify;
			font-family: "TravelingTypewriter", sans-serif;
			font-size: 12px;
			padding: 10px;
		}
	}
	.page-num {
		text-align: center;
		margin-top: 20px;
	}
}
